@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<h2>Chat</h2>

<script type="text/javascript">

	$(function()
	{
		var loginHub = $.connection.loginHub;

		loginHub.confirmLogin = function(confirmation)
		{
			alert(confirmation.success);
			alert(confirmation.username);
		});

		$('#login').click(function()
		{
			loginHub.login($('#username').val());
		});

		$.connection.hub.start();
	});	

</script>

<input type="text" value="username" id="username"/>
<input type="button" id="login" value="login"/>