@{
    ViewBag.Title = "ConnectionTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Connection Test</h2>

<script language="javascript" type="text/javascript">

	$(function()
	{
		var connection = $.connection('clock');

		connection.received(function(data)
		{
			$('#messages').append('<li>' + data + '</li>');
		});

		connection.start();

		$('#clickMe').click(function()
		{
			connection.send('test');
		});
	});

</script>

<input type="button" id="clickMe" value="Click Me" />

<ul id="messages"></ul>